@import url(https://fonts.googleapis.com/css?family=Nosifer|Codystar:300,400|Poiret+One|Limelight|Shojumaru|Titan+One|UnifrakturMaguntia|Press+Start+2P|Creepster|Playball|Griffy|Lobster|Bevan|Racing+Sans+One|Fontdiner+Swanky|Wire+One|Lato:100,300,400|Graduate);
body {
  padding: 0;
  margin: 0
}

.block {
  width: 100%;
  height: 100vh;
  min-height: 300px;
  position: relative;
  overflow: hidden
}

.block + .block {
  margin-top: 2px
}

h1 {
  width: 100%;
  position: absolute;
  margin: 0;
  top: 50%;
  text-align: center;
  font-size: 5rem;
  transform: translateY(-50%);
  font-weight: normal
}

p {
  width: 100%;
  position: absolute;
  margin: 0;
  top: 50%;
  text-align: center;
  font-size: 2rem;
  transform: translateY(180%);
  font-weight: normal
}
/* ================================================
    style-1
   ================================================ */

.style-1 {
  background: linear-gradient(90deg, #24C6DC 10%, #514A9D 90%);
}

.style-1 h1 {
  color: #FFEDBC;
  font-family: lato;
  font-weight: 100;
}

.style-1 p {
  color: #FFEDBC;
  font-family: lato;
  font-weight: 100;
}
